body {
	margin: 0;
	padding: 0;
}
.rojo {
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: #ee3e64;
	top: 0; left: 0; 
}
.azul {
	width: 200px;
	height: 200px;
	position: absolute;
	right: -200px;
	background-color: #44accf;
	top: 0; right: 0;
}
.verde {
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: #b7d84b;
	left: 0; bottom: 0; 
}
.amarillo{
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: #ffff00;
	bottom: 0; right: 0;
}